.header {
    height: 10vh; /* Фиксированная высота для header */
    width: 100wh;
    background-color: #2c3e50; /* Цвет фона header */
    color: white; /* Цвет текста header */
    display: flex; /* Используйте flex для расположения содержимого header */
    justify-content: space-between; /* Пространство между элементами внутри header */
    align-items: center; /* Центрирование содержимого по вертикали */
    padding: 0 20px; /* Отступы по бокам */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Теневой эффект для header */
}