.main-container {
    display: flex;
    flex-direction: column; /* Элементы расположены вертикально */
    height: 100vh; /* Высота main-container равна 100% высоты окна браузера */
}

.full-screen-container {
    flex-grow: 1; /* Контейнер должен занимать все оставшееся пространство */
    height: 100vh; /* Высота: 100% высоты окна минус высота header */
    background-color: #343434; /* Цвет фона контейнера */
    display: flex; /* Используйте flex для центрирования контента */
    justify-content: center; /* Центрирование контента по горизонтали */
    align-items: center; /* Центрирование контента по вертикали */
}
